@model User

@{
    ViewData["Title"] = "Home Page";
}

@if (Model!=null)
{
    <img class="img-fluid" style="height:120px" src="~/UserImages/@Model.ProfilePhoto" asp-append-version="true" />
    <h1>@Model.FirstName</h1>
    <h1>@Model.LastName</h1>
}

<a href="@Url.Action(controller:"Login",action:"Index")">Giris Yap</a>