@inject IBlogService blogService

@{
    ViewData["Title"] = "Home Page";
}


@foreach (var item in blogService.GetMany(x => x.IsActive == true && x.Privacy == true))
{
    <h3>@item.Title</h3>
    @Html.Raw(item.Content)
    string[] tags = item.Tags.Split(',', StringSplitOptions.RemoveEmptyEntries);
    <div class="row">
        @foreach (var tag in tags)
        {
            <p class="border border-primary m-1 bg-secondary text-light rounded">@tag</p>
        }
    </div>
    <br />
}