@model UserViewModel
@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.AlertMassage != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.AlertMassage
    </div>
}

<form method="post" asp-area="" asp-controller="Login" asp-action="Index">
    
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input class="form-control" type="text" asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <input class="btn btn-success form-control" type="submit" value="Giris Yap" />
    <a class="btn btn-primary form-control mt-2" asp-area="" asp-controller="Login" asp-action="Register">Kayıt ol</a>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


